# String
- DOuble quote ("")
- Single quote (')
- Triple double quote (""")

In [ ]:
dialog_1 = '"Hai apa kabar?", kata Budi'
print(dialog_1)

"Hai apa kabar?", kata Budi

In [ ]:
dialog_2 = "'Hai apa kabar?', kata Budi"
print(dialog_2)

'Hai apa kabar?', kata Budi

In [ ]:
dialog_3 = """
SELECT *
FROM table
"""

print(dialog_3)

SELECT *
FROM table

In [ ]:
dialog_4 = "
SELECT *
FROM table
"

print(dialog_4)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-8-8e5b90e27398>, line 1)

# String Formatting
- %s -> string
- %d -> angka
- %.2f -> Dua angka di belakang koma

In [ ]:
dialog_sapaan = """Selamat pagi, %s
Sisa saldo anda adalah %d"""

In [ ]:
nama = "Hasby"
saldo = 1000000

In [ ]:
print(dialog_sapaan % (nama, saldo))

Selamat pagi, Hasby
Sisa saldo anda adalah 1000000

In [ ]:
pi = 3.142367
print("Nilai pi adalah %.2f" % (pi))

Nilai pi adalah 3.14

In [ ]:
dialog_sapaan = f"""Selamat pagi, {nama}
Sisa saldo anda adalah {saldo}"""

In [ ]:
print(dialog_sapaan)

Selamat pagi, Hasby
Sisa saldo anda adalah 1000000

# Math
- Penjumlahan -> +
- Pengurangan -> -
- Perkalian -> *
- Pembagian -> /
- Pemangkatan -> **
- Modulo (pembagiann sisa) -> %
- Pembagian integer -> //
- Pembulatan -> round(angka, digit)

In [ ]:
angka_1 = 3
angka_2 = 11

print(angka_1 + angka_2)
print(angka_1 - angka_2)
print(angka_1 * angka_2)
print("%.2f" % (angka_1 / angka_2))
print(round(angka_1 / angka_2, 2))

14
-8
33
0.27
0.27

In [ ]:
print(angka_1 // angka_2)

0

In [ ]:
print(angka_1 ** angka_2)

81

In [ ]:
print(angka_2 % angka_1)

2

In [ ]:
print(4**(1/2))

2.0

In [ ]:
from math import sqrt
import math

In [ ]:
sqrt(4)
math.sqrt(4)

2.0

# List

In [ ]:
orang1 = "Bunga"
orang2 = "Citra"
orang3 = "Lestari"

In [ ]:
nama_orang = [orang1, orang2, orang3]
print(nama_orang)

['Bunga', 'Citra', 'Lestari']

In [ ]:
nama_orang = ["Bunga", "Citra", "Lestari"]
print(nama_orang)

['Bunga', 'Citra', 'Lestari']

In [ ]:
akun = [nama, saldo]
print(akun)

['Hasby', 1000000]

In [ ]:
akun = ["Nouval", 500000, "Hasby", 1000000]
print(akun)

['Nouval', 500000, 'Hasby', 1000000]

## List indexing
list[start: stop + 1 :step]
- dari awal -> list[:3:2]
- sampe akhir -> list[2::2]
- step default 1 -> list[3:7]

In [ ]:
print(akun[0])
print(akun[-1])

Nouval
1000000

In [ ]:
print(akun[0::2])

['Nouval', 'Hasby']

In [ ]:
print(akun[0:2])

['Nouval', 500000]

In [ ]:
akun[0] = "Rendy"

In [ ]:
akun[1] = akun[1] * 2

In [ ]:
akun

['Rendy', 1000000, 'Hasby', 1000000]

In [ ]:
del akun[-2:]

In [ ]:
akun

['Rendy', 1000000]

## Nested List

In [ ]:
akun_nasabah = [
    ["Nouval", 1000000],
    ["Budi", 200000]
]

In [ ]:
print(akun_nasabah)

[['Nouval', 1000000], ['Budi', 200000]]

In [ ]:
akun_nasabah[0][1]

1000000

# Tuple
Ini sama kaya list, nilainya statis, tidak bisa diganti

In [ ]:
akun_nasabah_tuple = ("Nouval", 100000)

In [ ]:
akun_nasabah_tuple[0] = "Rendy"

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [ ]:
akun_nasabah = {
    "Nouval" : {
        "saldo" : 1000000,
        "sex" : "L"
        },
    "Randy" : {
        "saldo" : 2000000,
        "sex" : "L"
        },
    "Bunga" : {
        "saldo" : 5000000,
        "sex" : "P"
        }
}

In [ ]:
#akun_nasabah["Nouval"]["saldo"] = akun_nasabah["Nouval"]["saldo"] + 5000000
akun_nasabah["Nouval"]["saldo"] += 5000000

In [ ]:
akun_nasabah

{'Nouval': {'saldo': 6000000, 'sex': 'L'},
 'Randy': {'saldo': 2000000, 'sex': 'L'},
 'Bunga': {'saldo': 5000000, 'sex': 'P'}}

In [ ]:
akun_nasabah.keys()

dict_keys(['Nouval', 'Randy', 'Bunga'])

In [ ]:
akun_nasabah.values()

dict_values([{'saldo': 6000000, 'sex': 'L'}, {'saldo': 2000000, 'sex': 'L'}, {'saldo': 5000000, 'sex': 'P'}])

In [ ]:
sum(akun_nasabah.values()) / len(akun_nasabah.values())

TypeError: unsupported operand type(s) for +: 'int' and 'dict'

# Conntrol Flow

In [ ]:
sapaan_cowok = "Halo Tuan %s, sisa saldo anda adalah %d"
sapaan_cewek = "Halo Nyonya %s, sisa saldo anda adalah %d"

In [ ]:
akun_nasabah_nouval = akun_nasabah["Nouval"]

In [ ]:
if akun_nasabah_nouval["sex"] == "L":
  print(sapaan_cowok % ("Nouval", akun_nasabah_nouval["saldo"] ))

Halo Tuan Nouval, sisa saldo anda adalah 6000000

In [ ]:
akun_nasabah_bunga = akun_nasabah["Bunga"]

In [ ]:
if akun_nasabah_bunga["sex"] == "L":
  print(sapaan_cewek % ("Nouval", akun_nasabah_bunga["saldo"] ))

In [ ]:
akun_nasabah_orang = akun_nasabah["Bunga"]

if akun_nasabah_orang["sex"] == "L":
  print(sapaan_cewek % ("Nouval", akun_nasabah_orang["saldo"] ))
else:
  print(sapaan_cewek % ("Bunga", akun_nasabah_orang["saldo"] ))

Halo Nyonya Bunga, sisa saldo anda adalah 5000000

In [ ]:
akun_nasabah_orang = akun_nasabah["Bunga"]

if (akun_nasabah_orang["sex"] == "L") & (akun_nasabah_orang["saldo"] > 10000000):
  print(sapaan_cewek % ("Nouval", akun_nasabah_orang["saldo"] ))
elif akun_nasabah_orang["sex"] == "P":
  print(sapaan_cewek % ("Bunga", akun_nasabah_orang["saldo"] ))
else:
  print("Data tidak ditemukan!")

Halo Nyonya Bunga, sisa saldo anda adalah 5000000

In [ ]:
nilai = 90

if nilai > 80:
  print("A")
  if nilai > 70:
    print("B")

elif nilai > 60:
  print("B")

else:
  print("C")

A
B

## Logical
AND (&)
- True True -> True
- True False -> False
- False True -> False
- False False -> False

OR (|)
- True True -> True
- True False -> True
- False True -> True
- False False -> False

Challenge!

**Code Challenge: Concert Ticket Purchase**

Write a Python program that simulates a movie ticket purchase with the following conditions:

1. If the user's age is less than 16, they can only purchase regular tickets.

2. If the user's age is between 16 and 25 (inclusive), they have the option to purchase VIP tickets, which include backstage access.

3. If the user's age is greater than 25, they can purchase regular, VIP or VVIP tickets.

4. If the user is a student (regardless of age), they are eligible for a 10% discount on the ticket price.


The base price for each ticket is defined as follows:
- Regular ticket: IDR 100K
- VIP ticket: 250K
- VVIP ticket: 500K
---

**Your task is determine how much ticket price should be paid and which tickets are eligible to based on their age and student status.**

In [ ]:
age = int(input())

70

In [ ]:
age = int(input("Masukkan umur: "))
ticket = {
    "regular": 100,
    "VIP": 250,
    "VVIP": 500
}

if age < 16:
  choice = "regular"

elif age > 16 and age <=25:

  input_choice = int(input("0: regular, 1: VIP" ))
  choice = ["regular", "VIP"]

  if input_choice < 0 or input_choice > 1:
    raise ValueError("Input Invalid!")

  choice = choice[input_choice]

else:
  input_choice = int(input("0: regular, 1: VIP, 2: VVIP" ))
  choice = ["regular", "VIP", "VVIP"]

  if input_choice < 0 or input_choice > 2:
    raise ValueError("Input Invalid!")

  choice = choice[input_choice]

is_student = input("Apakah anda seorang siswa? Y/N")

if is_student == "Y":
  discount = 0.1
else:
  discount = 0

price = ticket[choice] * (1 - discount)
print(f"Tiket {choice} berhasil dibeli seharga {price}")

Masukkan umur: 17
0: regular, 1: VIP2
Input invalid!

IndexError: list index out of range

# Looping
- For: Kita udah punya list untuk dilooping
- While: Belum punya list nya dan looping nya jalan terus sampai suatu kondisi

## For looping

In [ ]:
akun_nasabah

{'Nouval': {'saldo': 1000000, 'sex': 'L'},
 'Randy': {'saldo': 2000000, 'sex': 'L'},
 'Bunga': {'saldo': 5000000, 'sex': 'P'}}

In [ ]:
nasabah_laki = []
nasabah_perepmpuan = []

for nasabah in akun_nasabah:

  akun_orang = akun_nasabah[nasabah]

  if akun_orang["sex"] == "L":

    if akun_orang["saldo"] < 5000000:
      sapaan = f"""Halo Tuan {nasabah}, sisa saldo anda {akun_orang["saldo"]} segera top up!"""

    else:
      sapaan = f"""Halo Tuan {nasabah}, sisa saldo anda {akun_orang["saldo"]}"""

    nasabah_laki.append(sapaan)

  elif akun_orang["sex"] == "P":

    if akun_orang["saldo"] < 5000000:
      sapaan = f"""Halo Nyonya {nasabah}, sisa saldo anda {akun_orang["saldo"]} segera top up!"""

    else:
      sapaan = f"""Halo Nyonya {nasabah}, sisa saldo anda {akun_orang["saldo"]}"""

    nasabah_perepmpuan.append(sapaan)

In [ ]:
for sapaan in nasabah_laki:
  print(sapaan)

Halo Tuan Nouval, sisa saldo anda 6000000
Halo Tuan Randy, sisa saldo anda 2000000 segera top up!

In [ ]:
#iterasi 1
nasabah = "Nouval"
akun_orang = akun_nasabah["Nouval"]
cek if akun_orang["sex"] == "L"
print(sapaan_cowok)

#iterasi 3
nasabah = "Bunga"
akun_orang = akun_nasabah["Bunga"]
cek if akun_orang["sex"] != "L"
cek elif akun_orang["sex"] == "P"
print(sapaan_cewek)

## While looping

In [ ]:
penonton_list = [
    {"umur" : 20, "student": 1},
    {"umur" : 17, "student": 1},
    {"umur" : 25, "student": 0},
    {"umur" : 10, "student": 1},
    {"umur" : 12, "student": 1}
]

syarat_umur = 10
umur_penonton = syarat_umur
iterasi = 0

while umur_penonton >= syarat_umur:

  penonton = penonton_list[iterasi]
  umur_penonton = penonton["umur"]
  iterasi += 1

else:
  raise ValueError(f"Penonton dengan umur {umur_penonton} tahun dilarang masuk!")

print(f"Sebanyak {iterasi - 1} penonton diperbolehkan masuk.")

ValueError: Penonton dengan umur 10 tahun dilarang masuk!

## List Comprehension

In [ ]:
forbidden = []
for penonton in penonton_list:
  umur, student = penonton["umur"], penonton["student"]
  if umur < syarat_umur:
    forbidden.append(penonton)

In [ ]:
forbidden = [penonton for penonton in penonton_list if penonton["umur"] < syarat_umur ]

In [ ]:
forbidden

[{'umur': 10, 'student': 1}, {'umur': 12, 'student': 1}]

# Function

In [ ]:
def menghitung_harga(age, is_student, ticket_choice, discount = 0.1, min_age = 16, max_age = 27):

  ticket = {
    "regular": 100,
    "VIP": 250,
    "VVIP": 500
  }

  if ticket_choice not in ticket:
    raise ValueError("Ticket type invalid!")

  if age < min_age:
    if ticket_choice != "regular":
      raise ValueError("Ticket type forbidden!")
    else:
      ticket_price = ticket["regular"]

  elif age > min_age and age <= max_age:
    if ticket_choice == "VVIP":
      raise ValueError("Ticket type forbidden!")
    else:
      ticket_price = ticket[ticket_choice]
  else:
      ticket_price = ticket[ticket_choice]

  if is_student == 0:
    discount = 0

  price = ticket_price * (1 - discount)

  return price

In [ ]:
penonton_list = [
    {"umur" : 20, "student": 1, "ticket_chocie" : "regular"},
    {"umur" : 17, "student": 1, "ticket_chocie" : "regular"},
    {"umur" : 25, "student": 0, "ticket_chocie" : "VIP"},
    {"umur" : 10, "student": 1, "ticket_chocie" : "regular"},
    {"umur" : 12, "student": 1, "ticket_chocie" : "regular"}
]

In [ ]:
price_list = [menghitung_harga(penonton["umur"], penonton["student"], penonton["ticket_chocie"]) for penonton in penonton_list]

In [ ]:
price_list

[90.0, 90.0, 250, 90.0, 90.0]

In [ ]:
hitung_jumlah_tiket = lambda x: "Tiket terjual habis" if len(x) > 10 else f"Ticket masih tersisa {10 - len(x)}"

In [ ]:
hitung_jumlah_tiket(price_list)

'Ticket masih tersisa 5'